/*=====Variables CSS======*/
@font-face {
  font-family: "Lato";
  src: url("./Assets/font/lato/Lato-Medium.woff2") format("woff2"),
    url("./Assets/font/lato/Lato-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("./Assets/font/lato/Lato-Regular.woff2") format("woff2"),
    url("./Assets/font/lato/Lato-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("./Assets/font/lato/Lato-Semibold.woff2") format("woff2"),
    url("./Assets/font/lato/Lato-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

:root {
  /*=====Colors ======*/

  --color-background--dark: #171719;
  --color-background--light: #f5f5f5;
  --color-font--black1: #171719;
  --color-font--black2: #84848e;
  --color-white : #fff;
  --color-font--gray: #bababf;
  --white-color :#fff;
  /*===== Fonts and typography ======*/
  --font-primary: "Lato";

  --fs-bigger-title: 30px;
  --fs-big-title: 20px;
  --normal-title: 16px;

  /*===== Fonts text======*/
  --normal-text: 14px;

  /*===== Font weight ======*/
  --font-medium: 400;
  --font-semi-bold: 600;

  /*===== line height ======*/
  --line-height: 1.5;
  --text-line-height: 1.714;
  /*===== Letter Spacing ======*/
  --letter-sp: 2px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  font-family: "Lato";
  /* thẻ p sẽ ăn theo font-family của thẻ body */
  -webkit-font-smoothing: antialiased;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-secondary);
  font-weight: bold;
}
.container {
  max-width: 1340px;
  margin: 0 auto;
}
.container-medium {
  max-width: 1180px;
  margin: 0 auto;
}
.mt-100 {
  margin-top : 100px;
}
.pb {
  padding-block: 100px;
}
.letter-sp {
  letter-spacing: 2px;
}
.center {
  text-align: center;
}
.normal__text {
  font-size: var(--normal-text);
  font-weight: var(--font-medium);
  line-height: var(--text-line-height);
}

.bigger__title {
  font-size: var(--fs-bigger-title);
  font-weight: var(--font-semi-bold);
  line-height: var(--line-height);
  letter-spacing: 2px;
}
.big__title {
  font-size: var(--fs-big-title);
  font-weight: var(--font-semi-bold);
  line-height: var(--line-height);
  letter-spacing: 2px;
}
.normal__title {
  font-size: var(--normal-title);
  font-weight: var(--font-semi-bold);
  line-height: var(--line-height);
  letter-spacing: 2px;
}
.button {
  font-size: var(--normal-text);
  background-color: #fff;
  color: var(--color-background--dark);
  padding: 12px 32px;
  cursor: pointer;
  border: none;
}

/* HEADER TOP */
.section__header__top {
  background-color: var(--color-background--dark);
  z-index: 4;
}
.header__top {
  display: flex;
  justify-content: space-between;
  padding-block: 13px;
}
.header__language {
  border: none;
  outline: none;
  background-color: var(--color-background--dark);
  color: #fff;
}
.header__description {
  color: #fff;
}

/* NAVBAR */
.header {
  z-index: 3;
}
.nav__toggle {
  display: none;
}
.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 20px;
}
.nav__list {
  display: flex;
  align-items: center;
}
.nav__item {
  margin-right: 50px;
  position: relative;
}
.nav__item:last-child {
  margin-right: 0px;
}
.nav__link {
  letter-spacing: 2px;
  color: var(--color-background--dark);
  position: relative;
}
.header__icon {
  display: flex;
}
.header__icon--item {
  margin-right: 25px;
}
.header__icon--item:nth-child(4) {
  margin-right: 0px;
}
.header__icon--item i {
  font-size: 20px;
}
.header {
  background-color: #fff;
}
.nav__list .nav__item .nav__link:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: -5px;
  height: 2px;
  width: 100%;
  background: black;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s linear;
}

.nav__list .nav__item .nav__link:hover:before {
  transform: scaleX(1);
  transform-origin: left;
}
/* submenu */
.nav__dropdown {
  width: 12px;
}
.shop__option-link {
  color: var(--color-background--dark);
  position: relative;
}
.shop__option-select {
  padding: 0 10px;
}
.shop__option {
  position: absolute;
  top: 100%;
  background-color: var(--white-color);
  width: 200%;
  left: -50%;
  margin-top: 2px;
  padding: 10px 0;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
  display: none;
  z-index: 2;
  border: 1px solid rgba(233, 220, 220, 0.466);
}
.nav__item:hover .shop__option {
  display: block;
}

.shop__option .shop__option-item .shop__option-link:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: -5px;
  height: 2px;
  width: 100%;
  background: black;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s linear;
}

.shop__option .shop__option-item .shop__option-link:hover:before {
  transform: scaleX(1);
  transform-origin: left;
}

/* SLIDE */
.slideshow-container {
  position: relative;
  margin: auto;
}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 3px;
  user-select: none;
}
.next {
  right: 57px;
}
.prev {
  left: 56px;
}
.slide__heading {
  margin-bottom: 20px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.slide__text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 50px;
  left: 130px;
}
/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* CATEGORY */
.category__image {
  position: relative;
  display: flex;
  justify-content: center;
}
.category__product--name {
  width: 125px;
  padding: 13px 0;
  background-color: #fff;
  color: #171719;
  position: absolute;
  bottom: 30px;
}
.category__img {
  width: 100%;
}
.category__product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 20px;
  /* flex-wrap: wrap; */
}
.category__heading {
  text-align: center;
  margin-bottom: 45px;
}

/* VIDEO */
.video__content {
  padding: 133px 90px;
  background-color: var(--color-background--light);
}
.video__imge {
  height: 100%;
}
.video__play {
  width: 78px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  cursor: pointer;
}
.video__product {
  position: relative;
}
.video {
  display: flex;
  flex-wrap: wrap;
}
.video__product,
.video__content {
  width: 50%;
}
.video__title {
  color: #171719;
  margin-bottom: 20px;
}
.video__description {
  color: #84848e;
  margin-bottom: 70px;
}

/* PRODUCT */

.product__img {
  position: relative;
  margin-bottom: 20px;
}
.product__love {
  width: 20px;
  position: absolute;
  top: 20px;
  right: 20px;
}
.product__button {
  border: 1px solid #171719;
}
.product__name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  overflow: scroll;
}
.product__image {
  flex: 0 0 25%;
  padding-left: 10px;
  padding-right: 10px;
}
.product__price {
  margin-block: 10px 20px;
}
.product__title {
  text-align: center;
  margin-bottom: 45px;
}
/* COLLECTION */
.section__collection {
  background-image: url(./Assets/images/collection.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-block: 185px;
}
.collection {
  max-width: 327px;
}
.collection__title {
  color: #fff;
  margin-bottom: 20px;
}
.collection__link {
  color: #fff;
}
.collection__description {
  color: var(--color-font--gray);
  margin-bottom: 30px;
}

/* SERVICES */
.section__service {
  background-color: var(--color-background--light);
}
.service__content {
  padding: 50px 20px;
  text-align: center;
  background-color: #fff;
}
.service__img {
  width: 40px;
}
.service__title {
  color: #171719;
  margin-top: 30px;
  margin-bottom: 5px;
}
.service__description {
  margin-bottom: 30px;
  color: var(--color-font--black2);
}
.service__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 20px;
}
.service__link {
  color: var(--color-background--dark);
}
.service__title--big {
  margin-bottom: 45px;
  text-align: center;
}

/* FOOTER */
.section__footer {
  background-color: var(--color-background--dark);
}
.footer__logo--img {
  width: 158px;
}
.footer__logo {
  padding-block: 50px;
  border-bottom: 1px solid #313135;
}
.footer__title {
  color: #fff;
  margin-bottom: 30px;
}
.footer__link {
  color: #84848e;
}

.footer__social--img {
  width: 20px;
}
.footer__box {
  padding-block: 70px;
  display: flex;
  flex-wrap: wrap;
}
.footer__address {
  color: #84848e;
  max-width: 199px;
  width: 100%;
}
.footer__content {
  flex: 0 0 25%;
}
.footer__item {
  margin-bottom: 15px;
}
.form-email {
  display: flex;
  align-items: center;
  background-color: #262628;
  padding: 10px;
}
.inputEmail {
  color: var(--color-font--black2);
  flex: 1;
  border: none;
  outline: none;
  padding: 0;
  background-color: #262628;
}
.form__button {
  color: #fff;
  border: none;
  outline: none;
  background-color: #262628;
  cursor: pointer;
}
.footer__intro {
  margin-bottom: 70px;
}
.footer-social__list {
  display: flex;
  align-items: center;
  gap: 0 25px;
}
.footer__description {
  color: #84848e;
}
.footer__end {
  padding-block: 23px;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
  display: none;
}
/* ================ PAGE HISTORY =================== */
/* HISTORY */
.section__history {
  background-color: var(--color-background--light);
}
.history {
  padding-block: 82px;
}

/* BIRTH OF BRAND */

.birth__title {
  font-size: 24px;
  margin-bottom: 25px;
  color: #171719;
}
.birth {
  padding-inline: 100px;
}
.birth__image {
  position: relative;
  margin-bottom: 50px;
}
.birth__play {
  width: 78px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  cursor: pointer;
}
.birth__description {
  color: var(--color-font--black2);
}

/* FEATURE */
.feature__icon {
  width: 40px;
}
.feature__content {
  display: flex;
  align-items: center;
}
.featured__img {
  width: 500px;
}
.feature__intro, .feature__image, .feature__image2 {
  width: 50%;
}
.feature__image {
  display: flex;
  justify-content: flex-end;
}
.feature__image2 {
  display: flex;
  justify-content: flex-start;
}
.feature__icon {
  margin-bottom: 30px;
}
.featured__title {
  margin-bottom: 25px;
}
.featured__descript {
  color: var(--color-font--black2);
  max-width: 497px;
  width: 100%;
}
.featured__descript span {
  color : var(--color-font--black1);
}

/* REASON */
.section__reason {
  background-image : url(./Assets/images/reason.svg);
  padding: 175px 0;
}
.reason {
  text-align: center;
}
.reason__title {
  color: var(--color-white);
}
.reason__description {
  color: var(--color-font--gray);
  margin-block: 15px 41px;
}


/* ================ PAGE DEALER =================== */
.section__dealer {
  background-color: var(--color-background--light);
}
.dealer {
  padding-block: 82px;
}